@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&family=Rubik+Pixels&family=Sevillana&Inter:wght@700&family=Poppins:wght@200;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #404040;
}

.nigga {
    right: 0;
    bottom: 0;
    position: absolute;
}

.error {
    right: 50%;
    position: absolute;
    top: 25%;
    font-family: 'Rubik Doodle Shadow';
    font-size: 500%;

}

.E404 {
    right: 40%;
    position: absolute;
    top: 35%;
    font-family: 'Rubik Doodle Triangles';
    font-size: 500%;

}
.oops{
    top: 50%;
    margin-left: 10%;
    font-family: 'Rubik Pixels';
    font-size: 700%;
    color: aliceblue;
}
.nigga2{
    position: relative;
}
.exist{
    font-family: 'Sevillana';
    word-wrap: break-word;
    margin-left: 10%;
}
.nf{
    font-family: 'Anton';
    word-wrap: break-word;
    margin-left: 10%;
}
ul a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.navigation {
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 2%;
}
ul .port {
    font-family: 'Inter', sans-serif;
    margin: 1%;
}
ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
ul li {
    margin: 1%;
}



@media screen and (min-width: 1000px){
    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    ul :nth-child(2){
        margin-left: 50%;
    }
    ul :nth-child(6){
        margin-top: 1%;
    }
    ul :nth-child(7){
        margin-top: 1%;
    }
    ul{
        margin-top: 0.1%;
    }
    .image{
        height: 120vh;
        right: 0;
    }
}
.btn{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 1%;
    width: 10%;
    margin-left: 10%;
    border-radius: 5%;
    margin-top: 1%;
    font-size: 150%;
    font-family: 'Sevillana';
}
.btn:hover{
    background-color: white;
    color: black;
}
@media screen and (max-width: 480px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        width: 99vw;
    }
    .text2{
        margin-left: 8%;
    }
    .text, .text2{
        width: 89vw;
    }
    .text{
        margin: 5% ;
    }
    ul {
        flex-direction: column;
        align-items: center;
        width: 99vw;
    }
    ul a{
        width: 99vw;
        font-size: 100%;
    }
    .text3,.text4{
        width: 89vw;
        margin-top: 4%;
    }

    .text5 {
        width: 99vw;
        margin: 0 3%;
    }

    .image {
        width: 99vw;
        top: 120%;
        float: left;
    }
    .error{
        margin-top: 40%;
        left: 20%;
    }
    .E404{
        top: 60%;
        left: 50%;
    }
    .nigga{
        bottom: 0%;
        position: relative;
    }
    .nigga2{
        position: absolute;
        width: 99vw;
        top: 65%;
        z-index: -10;
    }
    .oops{
        margin-top: 100%;
    }
    .btn{
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .text3,.text4{
        margin-top: 7%;
        position: relative;
    }
    .container {
        text-align: center;
        position: relative;
    }

    .text, .text2, .text3, .text4, .text5 {
        margin: 10 5%;
        position: relative;
    }

    .image {
        top: 48%;
        position: relative;
    }
}